/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*Navbar Component*/

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
} */

/* .brand-title {
  font-size: 1.8rem;
  margin: 1rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
} */

/* .toggle-btn {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
} */

/* .toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
} */

/* @media (max-width: 425px) {
  .toggle-btn {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li a {
    padding: .67rem 1rem;
  } 
  
} */

/*Navbar Component*/

/*Intro section*/

.selfie {
  height: auto;
  max-width: 90%;
  top: 15%;
  left: 15%;
  border-radius: 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  animation-name: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#short-about {
  animation-name: fadein;
  animation-duration: 1s;
}

@media screen and (orientation: portrait) {
  img.selfie {
    max-width: 90%;
  }
  #arrow-down {
    display: none;
  }
}

@media screen and (orientation: landscape) {
  img.selfie {
    max-height: 90%;
  }
}

#intro-section {
  padding: 5%;
  margin-top: 2%;
}

#short-about {
  padding: 2%;
  margin-top: 8%;
}

#short-about>p {
  font-size: 1.3rem;
}

.btn {
  padding-top: 1rem !important;
  height: 4rem !important;
}

.btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
}

#arrow-down {
  margin-top: 2.8rem;
  margin-left: 2rem;
}

#arrow-down a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

#arrow-down a span {
  color: grey;
  font-size: 10px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#arrow-down a i {
  color: grey;
  opacity: 0.5;
}

#arrow-down a {
  animation-name: bounce;
  animation-duration: 2s;
}

#social-icons {
  margin: 1.2rem;
  color: #696969;
}

#social-icons:hover {
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9); */
  transform: scale(1.1);
}

/*Intro section*/

/*Projects Section*/

#project-con {
  /* box-shadow: 0 4px 30px #C1C2C3;
  border-radius: 1rem; */
  margin: 4rem;
  padding: 4%;
}

.chronic-guru {
  max-width: 95%;
  height: auto;
  top: 15%;
  left: 15%;
  box-shadow: 0 2px 25px #989898;
  transition: all .2s ease-in-out;
}

.ladder-labs, .learn-sativa {
  max-width: 95%;
  height: auto;
  top: 15%;
  left: 15%;
  box-shadow: 0 2px 25px #535456;
  transition: all .2s ease-in-out;
}

.chronic-guru:hover {
  box-shadow: 0 4px 30px #797979;
  transform: scale(1.1);
}

.learn-sativa:hover, .ladder-labs:hover {
  box-shadow: 0 2px 30px #404040;
  transform: scale(1.1);
}

#pro1, #pro2, #pro3 {
  margin: 3rem;
  padding-top: 3rem;
}

/*Projects Section*/

/*Skills Section*/

#skill-section {
  margin: 4rem;
  padding: 4%;
}

#logo {
  max-width: 98%;
  height: auto;
  margin: 2rem;
}

#frontend-row, #backend-row {
  color: white;
  padding: 2rem;
  border: solid 1px black;
  border-radius: 2rem;
  background: linear-gradient(140deg, #000000 0%, #000000 60%, #ffffff 60%, #ffffff 60%)
}

#frontend-header, #backend-header{
  margin-top: 4rem;
  font-size: 3rem;
}

/* .frontend-lang{
  width: 100%;
  background-color: #C365B6;
} */

/*Skills Section*/